.nav__about {
position: fixed;
padding: 10px;
text-decoration: none;
font-family: arial 10px;
}

.nav__store {
position: fixed;
left: 70px;
padding:10px;
text-decoration: none;
font-family: arial 10px;
}

.nav__gmail {
position: fixed;
left: 1665px;
padding: 10px;
text-decoration: none;
font-family: arial 10px;
}

.nav__images {
position: fixed;
left: 1720px;
padding:10px;
text-decoration: none;
font-family: arial 10px;
}

.nav__profile {
    height: 60px;
    position: fixed;
    left: 1800px;
    top: -2px;
}

#center-logo-container {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
}

#center-logo {
    height: 105px;
    margin-top: 235px;
}


#search-bar-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
}

.search__bar {
    border-radius: 50px;
    border-color: lightgray;
    border-style:solid;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 30px;
    width: 580px;
    height: 40px;
}

#buttons-container {
    display: block;
    margin-left: 820px;
    margin-top: 20px;
    
}



button.google__search {
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    color:darkslategrey;
    padding: 10px 10px;
    font-family: arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.lucky__search {
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    color:darkslategrey;
    padding: 10px 10px;
    font-family: arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
